.onMobileFile {
  display: flex;
  margin-bottom: 1.2rem;

  button {
    display: flex;
    padding: 0.5rem 1rem;
    background-color: #6b46c1;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
    border: 1px solid #efe2f8;
    gap: 0.5rem;
    align-items: center;

    &:hover {
      background-color: #6300b3;
    }
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.filter-container {
  background-color: #f7f7f7;
  padding: 1rem;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid #efe2f8;
  display: none;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 2rem;

  &.visible {
    display: block;
    opacity: 1;
  }

  &.hidden {
    display: none;
    opacity: 0;
  }

  @media (min-width: 1024px) {
    max-width: 250px;
    display: block !important;
    margin-bottom: 0;

    &.visible {
      display: block;
      opacity: 1;
    }

    &.hidden {
      display: block;
      opacity: 1;
    }
  }

  .filter-group {
    margin-bottom: 1rem;

    .salary-range-title {
      color: #303030;
      margin-bottom: 0.5rem;
    }

    .filter-header {
      font-weight: 600;
      cursor: pointer;
      display: flex;
      color: #303030;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      border-bottom: 1px solid rgb(172, 178, 180);

      .arrow {
        transition: transform 0.2s;
        &.expanded {
          transform: rotate(180deg);
        }
      }
    }

    .filter-options {
      display: none;
      padding: 0.5rem 0;

      &.show {
        display: block;
      }

      .filter-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.3rem 0;

        input {
          margin-right: 0.5rem;

          &:checked {
            color: #6b46c1;
          }
        }

        [type="checkbox"] {
          appearance: none;
          width: 18px;
          height: 18px;
          border: 2px solid #ccc;
          border-radius: 4px;
          outline: none;
          cursor: pointer;
          transition: all 0.2s ease;
          background-color: #fff;

          &:hover {
            border-color: #6b46c1;
          }

          &:checked {
            background-color: #6b46c1;
            border-color: #6b46c1;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 6px;
              height: 10px;
              border: solid white;
              border-width: 0 2px 2px 0;
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
        }

        .count {
          color: #888;
        }
      }
    }
  }

  .salary-range {
    .salary-inputs {
      display: flex;
      gap: 0.5rem;

      .salary-input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  }

  .expand-all {
    margin-top: 1rem;
    color: #6300b3;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
  }
}
