.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  // z-index: 100;
  position: sticky;
  top: 0;
  transition: background-color 0.3s;
  // margin-bottom: .2rem;
  // display: none;

  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    span {
      font-size: 1.25rem;
      font-weight: 600;
      color: #6300B3;
    }
  }

  &__toggle {
    color: #4a5568;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: #6300B3;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    right: -16rem; // Start off-screen
    height: 100%;
    width: 16rem;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background-color: #858188;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 50;

    &--open {
      transform: translateX(-16rem); // Slide in from right
    }
  }

  &__menu-header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  &__close {
    color: white;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      color: #e2e8f0;
    }
  }

  &__menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem 1rem;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: #6300B3;
      }
    }

    .navbar__menu-link--active {
      font-weight: bold;
      color: #6300B3;
    }
  }

  &__desktop {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    max-width: 80rem;
    margin: 0 auto;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 2rem;

    a {
      color: #4a5568;
      text-decoration: none;

      &:hover {
        color: #6300B3;
      }
    }

    .navbar__menu-link--active {
      font-weight: bold;
      color: #6300B3;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__contact {
    padding: 0.5rem 1.5rem;
    border: 1px solid #6b46c1;
    border-radius: 0.25rem;
    color: #6b46c1;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: #f8f7ff;
    }
  }

  &__login {
    padding: 0.5rem 2.9rem;
    background-color: #6b46c1;
    border-radius: 0.25rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: #6300B3;
      color: white !important;
    }
  }
}
